.hero-md {
    background-repeat: no-repeat;
    background: rgb(25, 25, 25);
    background-attachment: fixed;
    height: 80vh;
}

.hero-text h1 {
    font-size: 75px
}

.logo-bunch {
    height: 50px
}

.logo-bunch img {
    height: 40px;
    filter: brightness(0) invert(1);
    margin-right: 1rem;
    margin-left: 1rem;
    max-width: 50px;
}

.animate__animated.icon-1 {
    --animate-delay: .1s;
}
.animate__animated.icon-2 {
    --animate-delay: .2s;
}

.animate__animated.icon-3 {
    --animate-delay: .3s;
}

.animate__animated.icon-4 {
    --animate-delay: .4s;
}

.animate__animated.icon-5 {
    --animate-delay: .5s;
}

.animate__animated.icon-6 {
    --animate-delay: .6s;
}

.text-tertiary {
    color: #999999;
}

.logo-bunch-group {
    transition: all 0.2s ease-in-out;
}

.logo-bunch-group:hover {
    transform: scale(1.1);
}