<div class="full-height-container">
    <div class="hero-md background-web d-flex align-items-center">
        <div class="container" style="z-index: 1">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 hero-text text-md-start my-4 text-center animate__animated animate__fadeIn">
                    <h1 class="mb-4">Web Applications</h1>
                    <p>Specializing in creating engaging and user-friendly web applications that are built using the latest technologies and best practices. With a strong background in programming languages such as HTML5, SASS, JavaScript, TypeScript, and PHP. I have the technical skills to bring complex web applications to life. I also have a keen understanding of user experience and user interface design principles, which allows me to create intuitive and engaging interfaces that provide a seamless experience for users.</p>
                </div>
                <div class="col-md-6 p-4">
                    <img class="animate__animated animate__fadeInDown w-100 mb-4"
                        src="assets/image/web-apps-graphic.png">
                </div>
            </div>
        </div>
        <div class="side-showcase">
            <img class="animate__animated animate__fadeInRight animate__delay-2s icon-1" placement="start" ngbTooltip="HTML" src="assets/svg/html5.svg">
            <img class="animate__animated animate__fadeInRight animate__delay-2s icon-2" placement="start" ngbTooltip="CSS" src="assets/svg/css3.svg">
            <img class="animate__animated animate__fadeInRight animate__delay-2s icon-3" placement="start" ngbTooltip="SASS" src="assets/svg/sass.svg">
            <img class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-4" placement="start" ngbTooltip="JavaScript" src="assets/svg/javascript.svg">
            <img class="animate__animated animate__fadeInRight animate__delay-2s icon-5" placement="start" ngbTooltip="TypeScript" src="assets/svg/typescript.svg">
            <img class="animate__animated animate__fadeInRight animate__delay-2s icon-6" placement="start" ngbTooltip="PHP" src="assets/svg/php.svg">
        </div>
    </div>
    <div class="logo-bunch-two d-flex align-items-center justify-content-center">
        <div class="logo-bunch-group" [openDelay]="200" placement="top"
            ngbPopover="Development of enterprise-grade progressive web applications." popoverTitle="Angular & React">
            <img class="grow animate__animated animate__fadeIn animate__delay-2s icon-1" src="assets/svg/angular.svg">
            <img placement="bottom" class="animate__animated animate__fadeIn animate__delay-2s icon-2"
                src="assets/svg/react.svg">
        </div>
        <div class="logo-bunch-group" [openDelay]="200" placement="top"
            ngbPopover="Custom Wordpress Themes, Plugins, and full website solutions for simple small business marketing content to complex E-Commerce integrations."
            popoverTitle="Wordpress">
            <img placement="bottom" class="animate__animated animate__fadeIn animate__delay-2s icon-3"
                src="assets/svg/wordpress.svg">
        </div>
        <div class="logo-bunch-group" [openDelay]="200" placement="top"
            ngbPopover="Great customizable CSS frameworks to create sleek user interface and experience."
            popoverTitle="Bootstrap & Tailwind">
            <img placement="bottom" class="animate__animated animate__fadeIn animate__delay-2s icon-4"
                src="assets/svg/bootstrap.svg">
            <img placement="bottom" class="animate__animated animate__fadeIn animate__delay-2s icon-5"
                src="assets/svg/tailwind.svg">
        </div>
    </div>
</div>