.animate__animated.icon-1 {
    --animate-delay: .1s;
}
.animate__animated.icon-2 {
    --animate-delay: .2s;
}

.animate__animated.icon-3 {
    --animate-delay: .3s;
}

.animate__animated.icon-4 {
    --animate-delay: .4s;
}

.animate__animated.icon-5 {
    --animate-delay: .5s;
}

.animate__animated.icon-6 {
    --animate-delay: .6s;
}
