<div class="full-height-container">
  <div class="hero-md d-flex align-items-center">
    <div class="container" style="z-index: 1">
      <div class="row d-flex align-items-center">
        <div
          class="col-lg-7 hero-text text-lg-start my-4 text-center animate__animated animate__fadeIn"
        >
          <h1 class="mb-4">Back-End Development</h1>
          <p>
            Proficient in back-end development, I specialize in leveraging a
            range of powerful tools and frameworks to create robust and
            efficient server-side solutions. With expertise in Node.js, Amplify,
            WordPress REST API, and ASP.NET, I architect and implement back-end
            systems that drive seamless digital experiences.
          </p>
          <p>
            Utilizing the versatility of Node.js, I develop scalable and
            high-performance server-side applications. Leveraging the
            capabilities of Amplify, I streamline the development process by
            seamlessly integrating cloud services, enabling rapid deployment and
            effortless scalability. My proficiency in WordPress REST API
            empowers me to build custom back-end functionalities that seamlessly
            interact with WordPress-powered front ends, offering a tailored user
            experience.
          </p>
          <p>
            Furthermore, my grasp of ASP.NET allows me to create sophisticated
            and secure back-end solutions that align with modern industry
            standards. Whether it's optimizing performance, ensuring data
            integrity, or crafting APIs that empower smooth interactions, I am
            dedicated to creating back-end systems that form the bedrock of
            exceptional digital solutions.
          </p>
        </div>
        <div class="col-lg-4 p-4">
          <img
            class="animate__animated animate__fadeInDown mb-4 w-100"
            src="assets/image/apis-graphic.png"
          />
        </div>
      </div>
    </div>
    <div class="side-showcase">
      <img
        class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-1"
        placement="start"
        ngbTooltip="JavaScript"
        src="assets/svg/javascript.svg"
      />
      <img
        class="animate__animated animate__fadeInRight animate__delay-2s icon-2"
        placement="start"
        ngbTooltip="TypeScript"
        src="assets/svg/typescript.svg"
      />
      <img
        class="animate__animated animate__fadeInRight animate__delay-2s icon-3"
        placement="start"
        ngbTooltip="GraphQL"
        src="assets/svg/graphql.svg"
      />
      <img
        class="animate__animated animate__fadeInRight animate__delay-2s icon-4"
        placement="start"
        ngbTooltip="PHP"
        src="assets/svg/php.svg"
      />
      <img
        class="animate__animated animate__fadeInRight animate__delay-2s icon-5"
        placement="start"
        ngbTooltip="Python"
        src="assets/svg/python.svg"
      />
    </div>
  </div>
  <div class="logo-bunch-two d-flex align-items-center justify-content-center">
    <div
      class="logo-bunch-group"
      placement="top"
      ngbPopover="This pair creates a fast and limitless back-end for any application."
      popoverTitle="Node.js & Express.js"
      [openDelay]="200"
    >
      <img
        class="animate__animated animate__fadeIn animate__delay-2s icon-1"
        src="assets/svg/nodejs.svg"
      />
    </div>
    <div
      class="logo-bunch-group"
      placement="top"
      ngbPopover="Amplify to offer various tools and services to build and scale full-stack applications, including the code libraries, a powerful CLI, and several ready to use Front-End and Back-End components."
      popoverTitle="AWS Amplify"
      [openDelay]="200"
    >
      <img
        class="animate__animated animate__fadeIn animate__delay-2s icon-2"
        src="assets/svg/amplify.svg"
      />
    </div>
    <div
      class="logo-bunch-group"
      placement="top"
      ngbPopover="Built in Rest API support for WP jQuery/AJAX requests."
      popoverTitle="WordPress"
      [openDelay]="200"
    >
      <img
        class="animate__animated animate__fadeIn animate__delay-2s icon-3"
        src="assets/svg/wordpress.svg"
      />
    </div>
    <div
      class="logo-bunch-group"
      placement="top"
      ngbPopover="Data storage for organized collections to be optimally queried for back-end retrieval."
      popoverTitle="MySQL and MongoDB"
      [openDelay]="200"
    >
      <ng-icon
        class="animate__animated animate__fadeIn animate__delay-2s icon-4"
        size="45px"
        name="typDatabase"
      >
      </ng-icon>
    </div>
  </div>
</div>
