<div class="full-height-container">
    <div class="hero-md d-flex align-items-center">
        <div class="container" style="z-index: 1">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 hero-text my-4 animate__animated animate__fadeIn">
                    <h1 class="mb-4">Cloud Architecture</h1>
                    <p>Experience working with a variety of AWS services to build, deploy, and manage cloud-based applications. I have worked closely with members of development teams to design and implement the AWS architecture and infrastructure. I have also provided ongoing support and maintenance to ensure that the applications are performing optimally and meeting the needs of the applications.</p>
                </div>
                <div class="col-lg-6">
                    <img class="animate__animated animate__fadeInDown w-100" src="assets/image/system-arch-graphic.png">
                </div>
            </div>
        </div>
        <div class="side-showcase">
            <img class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-1" placement="start" ngbTooltip="EC2" src="assets/svg/ec2.svg">
            <img class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-2" placement="start" ngbTooltip="ECS" src="assets/svg/ecs.svg">
            <img class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-3" placement="start" ngbTooltip="S3" src="assets/svg/s3.svg">
            <img class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-4" placement="start" ngbTooltip="CloudFront" src="assets/svg/cloudfront.svg">
            <img class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-5" placement="start" ngbTooltip="Route 53" src="assets/svg/route53.svg">
            <img class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-6" placement="start" ngbTooltip="Code Pipeline" src="assets/svg/code-pipeline.svg">
        </div>
    </div>
    <div class="logo-bunch-two d-flex align-items-center justify-content-center">
        <div class="logo-bunch-group" placement="top"
            ngbPopover="Full cache, storage, routes, automation, and hosting ecosystems for enterprise-grade applications."
            popoverTitle="Amazon Web Services" [openDelay]="200">
            <img class="grow animate__animated animate__fadeIn animate__delay-2s icon-1" src="assets/svg/aws.svg">
        </div>
        <div class="logo-bunch-group" placement="top"
            ngbPopover="A JavaScript runtime environment used for powering server environments or managing project packages."
            popoverTitle="Node.js" [openDelay]="200">
            <img class="grow animate__animated animate__fadeIn animate__delay-2s icon-2" src="assets/svg/nodejs.svg">
        </div>
        <div class="logo-bunch-group" placement="top"
            ngbPopover="Collaborating on application development with controlled source for optimal integrity and non-linear workflow."
            popoverTitle="Git" [openDelay]="200">
            <img class="grow animate__animated animate__fadeIn animate__delay-2s icon-3" src="assets/svg/github.svg">
        </div>
        <div class="logo-bunch-group" placement="top"
            ngbPopover="HTTP web servers for any full ecosystem needs."
            popoverTitle="NGINX and Apache" [openDelay]="200">
            <img class="animate__animated animate__fadeIn animate__delay-2s icon-4" src="assets/svg/nginx.svg">
            <img class="animate__animated animate__fadeIn animate__delay-2s icon-5" src="assets/svg/apache.svg">
        </div>
    </div>
</div>