<div class="full-height-container">
  <div class="hero-md d-flex align-items-center">
    <div class="container" style="z-index: 1">
      <div class="row d-flex align-items-center">
        <div
          class="col-md-6 hero-text text-md-start my-4 text-center animate__animated animate__fadeIn"
        >
          <h1 class="mb-4">Mobile Applications</h1>
          <p>
            Proficient in mobile app development, I leverage the power of
            cutting-edge frameworks to deliver exceptional user experiences.
            With expertise in NativeScript, React Native, and Flutter, I craft
            native and cross-platform applications that seamlessly blend
            performance and versatility.
          </p>
          <p>
            Harnessing the capabilities of NativeScript, I create native mobile
            apps that offer a fluid and platform-specific feel. With React
            Native, I bridge the gap between efficiency and reach, developing
            apps that function seamlessly on multiple platforms while
            maintaining a native-like experience. My expertise in Flutter
            enables me to design beautifully cohesive applications that run
            smoothly on various devices, thanks to its expressive UI framework
            and fast development cycles.
          </p>
          <p>
            By capitalizing on these frameworks, I ensure that mobile apps not
            only meet but exceed user expectations. My dedication to creating
            intuitive interfaces, optimal performance, and engaging user
            interactions allows businesses to captivate their mobile audience
            and make an impactful digital impression.
          </p>
        </div>
        <div class="col-md-6 p-4">
          <img
            class="animate__animated animate__fadeInDown mb-4 w-100"
            src="assets/image/mobile-apps-graphic.png"
          />
        </div>
      </div>
    </div>
    <div class="side-showcase">
      <img
        class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-1"
        placement="start"
        ngbTooltip="JavaScript"
        src="assets/svg/javascript.svg"
      />
      <img
        class="animate__animated animate__fadeInRight animate__delay-2s icon-2"
        placement="start"
        ngbTooltip="TypeScript"
        src="assets/svg/typescript.svg"
      />
      <img
        class="animate__animated animate__fadeInRight animate__delay-2s icon-3"
        placement="start"
        ngbTooltip="CSS"
        src="assets/svg/css3.svg"
      />
      <img
        class="animate__animated animate__fadeInRight animate__delay-2s icon-4"
        placement="start"
        ngbTooltip="SASS"
        src="assets/svg/sass.svg"
      />
    </div>
  </div>
  <div class="logo-bunch-two d-flex align-items-center justify-content-center">
    <div
      class="logo-bunch-group"
      placement="top"
      ngbPopover="Fast JS/TS frameworks for creating modern adaptive mobile applications."
      popoverTitle="Nativescript & ReactNative"
      [openDelay]="200"
    >
      <img
        class="animate__animated animate__fadeIn animate__delay-2s icon-1"
        src="assets/svg/nativescript.svg"
      />
      <img
        class="animate__animated animate__fadeIn animate__delay-2s icon-2"
        src="assets/svg/react.svg"
      />
    </div>
    <div
      class="logo-bunch-group"
      placement="top"
      ngbPopover="Unleashing cross-platform magic for stunning mobile apps."
      popoverTitle="Flutter"
      [openDelay]="200"
    >
      <img
        class="animate__animated animate__fadeIn animate__delay-2s icon-3"
        src="assets/svg/flutter.svg"
      />
    </div>
    <div
      class="logo-bunch-group"
      placement="top"
      ngbPopover="Supporting the latest updates for iOS and Android."
      popoverTitle="iOS & Android"
      [openDelay]="200"
    >
      <img
        class="animate__animated animate__fadeIn animate__delay-2s icon-4"
        src="assets/svg/apple.svg"
      />
      <img
        class="animate__animated animate__fadeIn animate__delay-2s icon-5"
        src="assets/svg/android.svg"
      />
    </div>
  </div>
</div>
