<div class="content">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container justify-content-start">
      <button class="navbar-toggler me-4" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
      <div class="d-flex align-items-center cursor" [routerLink]="['/']">
        <img class="nav-tk" src="assets/svg/tk.svg" alt="TK">
      </div>

      <div class="d-lg-none d-flex ms-auto">
        <a class="nav-link p-1" target="_blank" href="https://github.com/tylerkanz">
          <fa-icon [icon]="faGithub" size="lg"></fa-icon>
        </a>
        <a class="nav-link p-1" target="_blank" href="https://www.linkedin.com/in/tylerkanz/">
          <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
        </a>
      </div>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">

        <!-- Web Menu -->
        <ul class="navbar-nav d-none d-lg-flex align-items-center mr-auto">
          <div class="d-flex">
            <li>
              <a class="nav-link p-1" target="_blank" href="https://github.com/tylerkanz">
                <fa-icon [icon]="faGithub" size="lg"></fa-icon>
              </a>
            </li>
            <li>
              <a class="nav-link p-1" target="_blank" href="https://www.linkedin.com/in/tylerkanz/">
                <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
              </a>
            </li>
          </div>
          <div ngbDropdown class="ms-4 d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              Skills
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-dark">
              <button ngbDropdownItem [routerLink]="['/skills']" [fragment]="'web-apps'">Web Apps</button>
              <button ngbDropdownItem [routerLink]="['/skills']" [fragment]="'mobile-apps'">Mobile Apps</button>
              <button ngbDropdownItem [routerLink]="['/skills']" [fragment]="'back-end-development'">Back-End Development</button>
              <button ngbDropdownItem [routerLink]="['/skills']" [fragment]="'cloud-architecture'">Cloud Architecture</button>
            </div>
          </div>
          <li class="ms-4">
            <a class="btn btn-cta" [routerLink]="['/contact']">Contact</a>
          </li>
        </ul>

        <!-- Mobile Menu -->
        <ul class="navbar-nav d-flex d-lg-none">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/skills']" [fragment]="'web-apps'" (click)="isMenuCollapsed = true">Web Apps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/skills']" [fragment]="'mobile-apps'" (click)="isMenuCollapsed = true">Mobile Apps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/skills']" [fragment]="'back-end-development'" (click)="isMenuCollapsed = true">Back-End Development</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/skills']" [fragment]="'cloud-architecture'" (click)="isMenuCollapsed = true">Cloud
              Architecture</a>
          </li>
          <li class="nav-item mt-2">
            <a class="btn btn-cta" [routerLink]="['/contact']" (click)="isMenuCollapsed = true">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
