<div class="content">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="d-flex align-items-center cursor" [routerLink]="['/']">
        <img class="nav-tk" src="assets/svg/tk.svg">
        <h1 class="mx-3 text-tertiary"> + </h1>
        <img class="nav-image" src="assets/svg/angular.svg">
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          <div class="d-flex">
            <li>
              <a class="nav-link p-1" target="_blank" href="https://github.com/tylerkanz">
                <ng-icon size="30px" name="typSocialGithub"></ng-icon>
              </a>
            </li>
            <li>
              <a class="nav-link p-1" target="_blank" href="https://www.linkedin.com/in/tylerkanz/">
                <ng-icon size="30px" name="typSocialLinkedin"></ng-icon>
              </a>
            </li>
          </div>
          <div ngbDropdown class="ms-4 d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              Skills
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-dark">
              <button ngbDropdownItem [routerLink]="['/skills/web-apps']">Web Apps</button>
              <button ngbDropdownItem [routerLink]="['/skills/mobile-apps']">Mobile Apps</button>
              <button ngbDropdownItem [routerLink]="['/skills/apis']">APIs</button>
              <button ngbDropdownItem [routerLink]="['/skills/system-architecture']">System Architecture</button>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <main [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</div>