<div class="hero-md d-flex align-items-center">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 hero-text animate__animated animate__fadeIn">
                <h2>Developing blazing fast</h2>
                <h1>APIs</h1>
            </div>
            <div class="col-lg-6">
                <img class="animate__animated animate__fadeInDown w-100" src="assets/image/web-apps-graphic.png">
            </div>
        </div>
    </div>
</div>
<div class="logo-bunch d-flex align-items-center justify-content-center mt-4">
    <a href="#"><img placement="bottom" ngbTooltip="NativeScript" class="grow animate__animated animate__fadeIn animate__delay-2s icon-1"
        src="assets/svg/nativescript.svg">
    <img placement="bottom" ngbTooltip="React" class="grow animate__animated animate__fadeIn animate__delay-2s icon-2"
        src="assets/svg/react.svg"></a>
    <img placement="bottom" ngbTooltip="iOS" class="grow animate__animated animate__fadeIn animate__delay-2s icon-4"
        src="assets/svg/apple.svg">
    <img placement="bottom" ngbTooltip="Android" class="grow animate__animated animate__fadeIn animate__delay-2s icon-5"
        src="assets/svg/android.svg">
</div>
