<div class="full-height-container">
    <div class="hero-md d-flex align-items-center">
        <div class="container" style="z-index: 1">
            <div class="row d-flex align-items-center">
                <div class="col-lg-7 hero-text text-lg-start my-4 text-center animate__animated animate__fadeIn">
                    <h1 class="mb-4">Application Programming Interfaces</h1>
                    <p>Skilled at creating intuitive and well-documented APIs that provide a seamless experience for users. With a strong background in programming languages such as PHP, JavaScript, and TypScript, I have the technical expertise to design and implement APIs that are scalable, secure, and easy to use. I also have experience working with a variety of API standards and protocols, such as REST, JSON, and OAuth, to create APIs that are compatible with a wide range of applications.</p>
                </div>
                <div class="col-lg-4 p-4">
                    <img class="animate__animated animate__fadeInDown mb-4 w-100" src="assets/image/apis-graphic.png">
                </div>
            </div>
        </div>
        <div class="side-showcase">
            <img class="rounded animate__animated animate__fadeInRight animate__delay-2s icon-1" placement="start" ngbTooltip="JavaScript" src="assets/svg/javascript.svg">
            <img class="animate__animated animate__fadeInRight animate__delay-2s icon-2" placement="start" ngbTooltip="TypeScript" src="assets/svg/typescript.svg">
            <img class="animate__animated animate__fadeInRight animate__delay-2s icon-3" placement="start" ngbTooltip="PHP" src="assets/svg/php.svg">
            <img class="animate__animated animate__fadeInRight animate__delay-2s icon-4" placement="start" ngbTooltip="Python" src="assets/svg/python.svg">
        </div>
    </div>
    <div class="logo-bunch-two d-flex align-items-center justify-content-center">
        <div class="logo-bunch-group" placement="top"
            ngbPopover="This pair creates a fast and limitless back-end for any application."
            popoverTitle="Node.js & Express.js" [openDelay]="200">
            <img class="animate__animated animate__fadeIn animate__delay-2s icon-1" src="assets/svg/nodejs.svg">
        </div>
        <div class="logo-bunch-group" placement="top"
            ngbPopover="Built in Rest API support for WP jQuery/AJAX requests."
            popoverTitle="WordPress" [openDelay]="200">
            <img class="animate__animated animate__fadeIn animate__delay-2s icon-2" src="assets/svg/wordpress.svg">
        </div>
        <div class="logo-bunch-group" placement="top"
            ngbPopover="Data storage for organized collections to be optimally queried for back-end retrieval."
            popoverTitle="MySQL and MongoDB" [openDelay]="200">
            <ng-icon class="animate__animated animate__fadeIn animate__delay-2s icon-3" size="45px" name="typDatabase"></ng-icon>
        </div>
    </div>
</div>