.hero-container {
    width: 100%;
    height: 650px;
    background-image: url('/assets/image/hero-background.png');
    background-position: center;
}

.logo-bunch img {
    width: 40px;
    max-height: 50px;
    filter: brightness(0) invert(1);
    margin-right: 2rem;
}

/** BLINKING LINE **/
.box::after {
    content: "";
    width: 3px;
    height: 70px;
    margin-left: 1rem;
    background: #ffffff;
    display: inline-block;
}

.box {
    display: flex;
    align-items: center;
    gap: 2px;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

.box::after {
    animation: cursor-blink 1.5s steps(2) infinite;
}

.neon-tube {
    height: 650px;
    animation: flicker 7s linear infinite;
    filter: invert(.7) drop-shadow(0px 0px 8px #00e613);
}

@keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: .9;
    }
  
    6% {
      opacity: .85;
    }
  
    8% {
      opacity: .95;
    }
  
    10% {
      opacity: .90;
    }
  
    11% {
      opacity: .922;
    }
  
    12% {
      opacity: .9;
    }
  
    14% {
      opacity: .95;
    }
  
    16% {
      opacity: .98;
    }
  
    17% {
      opacity: .9;
    }
  
    19% {
      opacity: .93;
    }
  
    20% {
      opacity: .99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: .94;
    }
  
    28% {
      opacity: .98;
    }
  
    37% {
      opacity: .93;
    }
  
    38% {
      opacity: .5;
    }
  
    39% {
      opacity: .96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: .97;
    }
  
    46% {
      opacity: .94;
    }
  
    56% {
      opacity: .9;
    }
  
    58% {
      opacity: .9;
    }
  
    60% {
      opacity: .99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: .9;
    }
  
    72% {
      opacity: .95;
    }
  
    93% {
      opacity: .93;
    }
  
    95% {
      opacity: .95;
    }
  
    97% {
      opacity: .93;
    }
  
    to {
      opacity: 1;
    }
  }
  